-- REQUISITI --

Genere: Platform Game

Titolo: Nerd's Adventures

Ambientazione: Livelli strutturati in base ai vari stereotipi del classico Nerd

Background: Il nerd deve affrontare la sexy cheerleader bulla con poteri speciali
attraverso vari livelli in cui viene magicamente proiettato.

Intro: 

Finale: Il nerd si sveglia e scopre che la bulla in realta' frutto della sua
fantasia, come [SPOILER]Gargamella ed i puffi.


-- MEMENTO --

- Upgrade delle armi.

- Puzzle da risolvere per procedere
